{% extends "layout.html" %}

{% block title %}{{sequence.story.title}} - {{sequence.title}}{% endblock %}

{% block headline %}

    <h2>{{sequence.story.title}} - {{sequence.title}}</h2>

{% endblock %}

{% block content %}

    <p>
        {{sequence.text | safe}}
    </p>

    {% if sequence.choices.count() > 0 %}
    <h3>What are you going to do next?</h3>
    <ul class="nav nav-pills nav-stacked">
    {% for choice in sequence.choices %}
        <li>
            <hr>
            <a href="{{url_for('process_choice', choice_id=choice.id)}}" class="btn btn-default btn-lg">
                {{choice.description}} &raquo;
            </a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <hr>
        <p><a class="btn btn-primary btn-lg" href="{{url_for('end_story', story_id=sequence.story_id)}}">End story &raquo;</a></p>
    {% endif %}

{% endblock %}
