{% extends "layout.html" %}

{% block title %}Edit {{story.title}}{% endblock %}

{% block headline %} <h2>"{{story.title}}" editor</h2> {% endblock %}

{% block content %}

<form method="post" action="{{url_for('edit_story', story_id=story.id)}}">
    <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
        <input name="title" type="text" class="form-control" placeholder="Title" required value="{{story.title}}">
    </div>
    <label for="summary">Summary</label>
    <textarea id="summary" name="summary" class="form-control" rows="4">{{story.summary}}</textarea>

    <button type="submit" class="btn btn-primary">Save changes</button>
</form>
<hr>
<p>
    <a href="#addSequenceButton" id="addSequenceButton" class="btn"><span class="glyphicon glyphicon-plus"></span> Add a sequence</a>
    <ul class="nav nav-pills nav-stacked" id="sequencesList"></ul>
    <button id="saveAllSequences" class="btn btn-primary">Save changes</button>
</p>

<!-- A little trick to have a robust application that send API urls to the JS -->
<div id="story-data" data-get-sequences-url="{{url_for('get_story_sequences', story_id=story.id)}}" data-create-sequence-url="{{url_for('story_create_sequence', story_id=story.id)}}">
</div>

<!-- Handlebars templates -->
{% raw %}
<script id="sequence-template" type="text/x-handlebars-template">
    <li id="sequence{{sequence.id}}" data-sequence-id="{{sequence.id}}"><a href="#sequence{{sequence.id}}"><span class="sequence-item" data-editor-id="sequence{{sequence.id}}Editor">{{sequence.title}}</span> <button class="btn choices-button" data-choices-url="{{sequence.manage_choices_url}}"><span class="glyphicon glyphicon-random"></span> Manage choices <span class="badge">{{sequence.choices_number}}</span></button> <button class="btn sequence-deleter" data-delete-sequence-url="{{sequence.delete_url}}"><span class="glyphicon glyphicon-trash"></span> Delete</button> <button class="btn sequence-info"><span id="sequence{{sequence.id}}Info" class="glyphicon glyphicon-ok"></span></button></a>
    <div id="sequence{{sequence.id}}Editor" class="sequence-editor" data-edit-url="{{sequence.edit_url}}" data-sequence-id="{{sequence.id}}" hidden>
        <form method="post" action="#">
            <div class="form-group input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                <input id="sequence{{sequence.id}}Title" type="text" class="form-control" name="sequence_title" value="{{sequence.title}}" placeholder="Title" required>
            </div>
            <label for="sequence{{sequence.id}}Text">Text</label>
            <textarea id="sequence{{sequence.id}}Text" name="sequence_text" class="form-control" rows="4">{{sequence.text}}</textarea>
        </form>
    </div>
    </li>
</script>
{% endraw %}

{% endblock %}

{% block js_imports %}

<script type="text/javascript" src="{{url_for('static', filename='handlebars-v2.0.0.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='edit_story.js')}}"></script>

{% endblock %}

{% block js_on_load %}

StoryEditor.buildSequenceList();

{% endblock %}
