{% extends "layout.html" %}

{% block title %}{{story.title}} - The End{% endblock %}

{% block headline %}

    <h2>The End.</h2>

{% endblock %}

{% block content %}
    <p>
        <a class="btn btn-primary btn-lg" href="{{url_for('play_story', story_id=story.id)}}" role="button">
            <span class="glyphicon glyphicon-refresh"></span>
            Replay
        </a>
        <a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </a>
        <a class="btn btn-primary btn-lg" href="{{url_for('user_stories', user_id=story.user_id)}}" role="button">
            <span class="glyphicon glyphicon-user"></span>
            See this user's stories
        </a>
    </p>
{% endblock %}
