{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block headline %}

<h1>Welcome, adventurer!</h1>
<p>Game of Books is a gamebook gallery where you can play registered users' gamebooks, but also make your own for
    free!</p>

<p>
{% if current_user.is_authenticated() %}
    <a class="btn btn-primary btn-lg" href="{{url_for('user_stories', user_id=current_user.get_id())}}" role="button"><span class="glyphicon glyphicon-book"></span> My stories</a>
{% else %}
    <a class="btn btn-primary btn-lg" href="{{url_for('register')}}" role="button">Register &raquo;</a>
{% endif %}
    <a class="btn btn-primary btn-lg" href="{{url_for('stories_gallery', page=1)}}" role="button"><span class="glyphicon glyphicon-th"></span> Stories gallery</a>
{% endblock %}
</p>

{% block content %}{% endblock %}