<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Game of Books - {% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">Game of Books</a>
        </div>
        <div class="navbar-collapse collapse">
            {% if current_user.is_authenticated() %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">Welcome <a href="{{url_for('user_stories', user_id=current_user.get_id())}}">{{current_user.pseudo}}!</a></p>
                </li>
                <li>
                    <a href="{{url_for('logout')}}">Logout &raquo;</a>
                </li>
            </ul>
            {% else %}
            <form class="navbar-form navbar-right" role="form" action="{{url_for('login')}}" method="post">
                <div class="form-group">
                    <input name="origin" type="hidden" value="{{request.path}}">
                    <input name="pseudo" type="text" placeholder="Pseudo" class="form-control">
                </div>
                <div class="form-group">
                    <input name="password" type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
            {% endif %}
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <strong>Message:</strong> {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block headline %}{% endblock %}
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}

    <hr>

    <footer>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
                    alt="Creative Commons License" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a><br/><span
                xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Game of Books</span> by <span
                xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Tristan Louet</span> is licensed
            under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
            Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br/>Based on a work at <a
                xmlns:dct="http://purl.org/dc/terms/" href="https://bitbucket.org/tristan_louet_dev/game-of-books/src"
                rel="dct:source">https://bitbucket.org/tristan_louet_dev/game-of-books/src</a>.
        </p>
    </footer>
</div>
<!-- /container -->

<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block js_imports %}{% endblock %}
<!-- For large and heavily used JS we won't do that, we'll use separated files for example.
     But this is useful to allow light behaviors implementation in their respective
     HTML templates where it is more straightforward to do it. -->
<script type="text/javascript">
    {% block js_on_load %}{% endblock %}
</script>

</body>
</html>