{% extends "layout.html" %}

{% block title %}Edit {{sequence.title}} choices{% endblock %}

{% block headline %} <h2 xmlns="http://www.w3.org/1999/html">"<a href="{{url_for('edit_story', story_id=sequence.story.id)}}">{{sequence.story.title}} >{{sequence.title}}</a>" choices editor</h2> {% endblock %}

{% block content %}

<form id="addChoiceForm" method="post" action="#">
    <div class="form-group input-group input-group-lg">
         Create a choice leading to sequence
        <select id="successSequenceId" name="success_sequence_id">
            <option value="-1">-None-</option>
            {% for seq in sequence.story.sequences %}
            <option value="{{seq.id}}">{{seq.title}}</option>
            {% endfor %}
        </select>
        on success and sequence
        <select id="failureSequenceId" name="failure_sequence_id">
            <option value="-1">-None-</option>
            {% for seq in sequence.story.sequences %}
            <option value="{{seq.id}}">{{seq.title}}</option>
            {% endfor %}
        </select>
        on failure, with a success rate of <input id="successRate" type="text" name="success_rate" value="100" min="0" max="100" required> %<br>
        <div class="form-group input-group input-group-lg">
            <label for="choiceDescription">Description</label><br>
            <textarea id="choiceDescription" name="choice_description" class="form-control" rows="4" required></textarea>
        </div>

        <button class="btn btn-primary" type="submit" id="form-submit"><span class="glyphicon glyphicon-plus"></span> Create choice</button>
        <span id="form-cancel-span" hidden><a id="form-cancel" class="btn"><span class="glyphicon glyphicon-remove"></span> Cancel</a></span>
    </div>
</form>
<hr>
<p>
    <ul id="choicesList" class="nav nav-pills nav-stacked"></ul>
</p>

<!-- A little trick to have a robust application that send API urls to the JS -->
<div id="sequence-data" data-get-choices-url="{{url_for('sequence_get_choices', sequence_id=sequence.id)}}" data-create-choice-url="{{url_for('create_choice', sequence_id=sequence.id)}}"></div>

<!-- Handlebars templates -->
{% raw %}
<script id="choice-template" type="text/x-handlebars-template">
    <li id="choice{{choice.id}}">
        <a id="choice{{choice.id}}Description" href="#choice{{choice.id}}Description">
            {{choice.description}}
            <button class="btn edit-choice-button" data-edit_url="{{choice.edit_url}}" data-description-value="{{choice.description}}" data-success-rate-value="{{choice.success_rate}}" data-success-sequence-id="{{choice.success_sequence_id}}" data-failure-sequence-id="{{choice.failure_sequence_id}}">
                <span class="glyphicon glyphicon-edit"></span>
                Edit
            </button>
            <button class="btn delete-choice-button" data-delete-url="{{choice.delete_url}}">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </button>
        </a>
    </li>
</script>
{% endraw %}

{% endblock %}

{% block js_imports %}

<script type="text/javascript" src="{{url_for('static', filename='handlebars-v2.0.0.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='manage_choices.js')}}"></script>

{% endblock %}

{% block js_on_load %}

ChoicesEditor.buildChoicesList();

{% endblock %}
