{% extends "layout.html" %}

{% block title %}Create a story{% endblock %}

{% block headline %} <h2>Let the adventure begin...</h2> {% endblock %}

{% block content %}

<form method="post" action="{{url_for('new_story')}}">
    <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
        <input name="title" type="text" class="form-control" placeholder="Title" required
        {% if title is defined %}
        value="{{title}}"
        {% endif %}
        >
        <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button">Create</button>
            </span>
    </div>
</form>

{% endblock %}
