{% extends "layout.html" %}

{% block title %}{{story.title}}{% endblock %}

{% block headline %}

    <h2>Let the adventure begin...</h2>
    <p>You are about to take part to a brand new story. All set?</p>

{% endblock %}

{% block content %}

        <p>
            {{story.summary | safe}}
        </p>

        <a class="btn btn-primary btn-lg" href="{{url_for('display_sequence', sequence_id=story.sequences[0].id)}}" role="button">Take me in &raquo;</a>

{% endblock %}
