{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block headline %}
<!--<h2 xmlns="http://www.w3.org/1999/html">Register</h2>-->
{% endblock %}

{% block content %}

{% if current_user.is_authenticated() %}
        <p>You must <a href="{{url_for('logout')}}">logout</a> if you want to register a new account.</p>
{% else %}
    <form method="post" action="{{url_for('register')}}">
        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input id="pseudoInput" name="pseudo" type="text" class="form-control" placeholder="Pseudo" required
            {% if pseudo is defined %}
            value="{{pseudo}}"
            {% endif %}
            >
            <span class="input-group-btn">
                <button id="checkButton" class="btn btn-default" type="button"><span>Check availability</span></button>
            </span>
        </div>
        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            <input name="password" type="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            <input name="retyping" type="password" class="form-control" placeholder="Password retyping" required>
        </div>
        <button id="submitButton" type="submit" class="btn btn-primary">Register</button>
    </form>
{% endif %}

{% endblock %}

{% block js_on_load %}

        $("#pseudoInput").keyup(function(event) {
            $("#checkButton span").html("Check availability");
        });

        $("#checkButton").click(function(event) {
            $.get("/api/user/" + $("#pseudoInput").val() + "/exists", function(result) {
                if (result.data.user_exists) {
                    $("#checkButton span").html('<span class="glyphicon glyphicon-remove"></span>');
                    $("#submitButton").prop("disabled", true);
                } else {
                    $("#checkButton span").html('<span class="glyphicon glyphicon-ok"></span>');
                    $("#submitButton").prop("disabled", false);
                }
            });
        });

{% endblock %}
