{% extends "layout.html" %}

{% block title %}Stories gallery{% endblock %}

{% block headline %}
<h1>Much stories, such adventures, wow</h1>
{% endblock %}

{% block content %}

<ul class="pagination">
    <li {% if storiesPagination.page == 1 %}class="disabled"{% endif %}><a href="{% if storiesPagination.page == 1 %}#{% else %}{{url_for('stories_gallery', page=storiesPagination.prev_num)}}{% endif %}">&laquo;</a></li>

        {% for nb in range(1, storiesPagination.pages + 1) %}
            <li {% if storiesPagination.page == nb %}class="active"{% endif %}><a href="{% if storiesPagination.page == nb %}#{% else %}{{url_for('stories_gallery', page=nb)}}{% endif %}">{{nb}}</a></li>
        {% endfor %}

    <li {% if storiesPagination.page >= storiesPagination.pages %}class="disabled"{% endif %}><a href="{% if storiesPagination.page >= storiesPagination.pages %}#{% else %}{{url_for('stories_gallery', page=storiesPagination.next_num)}}{% endif %}">&raquo;</a></li>
</ul>

<ul class="nav nav-pills nav-stacked">
{% for story in storiesPagination.items %}

    <li><p>
        <a href="{{url_for('play_story', story_id=story.id)}}">{{story.title}}</a>
        by <a href="{{url_for('user_stories', user_id=story.user_id)}}">{{story.user.pseudo}}</a>
        </p>
    </li>

{% endfor %}
</ul>

{% endblock %}