{% extends "layout.html" %}

{% block title %}{{current_user.pseudo}}'s stories{% endblock %}

{% block headline %}
    {% if current_user.pseudo == user.pseudo %}
        <h2>Ready for new adventures?</h2>
        <p>Create a <a class="btn btn-primary btn-lg" href="{{url_for('new_story')}}" role="button"><span class="glyphicon glyphicon-plus"></span> new story</a> right now!</p>
    {% endif %}
{% endblock %}

{% block content %}

<h2>{% if current_user.get_id() == user.get_id() %}My{% else %}{{user.pseudo}}'s{% endif %} stories</h2>
<p>
    <ul class="nav nav-pills nav-stacked" id="storiesList"></ul>
</p>

<div id="stories-data" data-get-stories-url="{{url_for('get_user_stories', user_id=user.get_id())}}">
</div>

<!-- Handlebars templates -->
{% raw %}
<script id="story-template" type="texT/x-handlebars-template">
    <li id="story{{story.id}}">
        <a href="#story{{story.id}}">{{story.title}}
            {% endraw %}
            {% if current_user.get_id() == user.get_id() %}
            {% raw %}
            <button class="btn story-editor" data-editor-url="{{story.editor_url}}">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit <span class="badge">{{story.pages_nb}}</span>
            </button>
            <button class="btn story-deleter" data-deleter-url="{{story.deleter_url}}">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </button>
            {% endraw %}
            {% endif %}
            {% raw %}
            <button class="btn story-player" data-player-url="{{story.play_url}}">
                <span class="glyphicon glyphicon-eye-open"></span>
                Play
            </button>
        </a>
    </li>
</script>
{% endraw %}

{% endblock %}

{% block js_imports %}

<script type="text/javascript" src="{{url_for('static', filename='handlebars-v2.0.0.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='user_stories.js')}}"></script>

{% endblock %}

{% block js_on_load %}

UserStories.buildStoriesList();

{% endblock %}
